<div class="metro">
<div id="cards">
    <div class="card-title clearfix">
        Front
    </div>
    <div class="card clearfix" style="padding:20px;">
        <!-- 上部 -->
        <div class="clearfix">
            <div class="tile bg-pink ol-transparent"
                style="width:660px; height:110px;">
            </div>
        </div>
        <!-- 中部 -->
        <div class="clearfix">
            <div class="tile bg-amber ol-transparent"
                style="width:120px; height:120px;">
                <div class="tile-content icon">
                    <i class="icon-puzzle"></i>
                </div>
            </div>
            <div class="tile bg-lime ol-transparent main-text"
                style="width:530px; height:120px; margin:0px; padding:10px; padding-top:20px; padding-left:20px;">
                <div style="font-size:36pt;">Firstname Lastname</div>
                <div style="font-size:18pt;">Software engineer</div>
            </div>
        </div>
        <!-- 下部 -->
        <div class="clearfix">
            <div class="tile bg-orange ol-transparent"
                style="width:213px; height:110px;">
                <div class="tile-content icon">
                    <i class="icon-mail"></i>
                </div>
                <div class="tile-status" style="text-align:center; top:85px;">
                    <span>anonymous@mail</span>
                </div>
            </div>
            <div class="tile bg-lightBlue ol-transparent"
                style="width:213px; height:110px;">
                <div class="tile-content icon">
                    <i class="icon-twitter"></i>
                </div>
                <div class="tile-status" style="text-align:center; top:85px;">
                    <span>@anonymous</span>
                </div>
            </div>
            <div class="tile bg-magenta ol-transparent"
                style="width:214px; height:110px; margin:0px;">
                <div class="tile-content icon">
                    <i class="icon-github"></i>
                </div>
                <div class="tile-status" style="text-align:center; top:85px;">
                    <span>anonymous</span>
                </div>
            </div>
        </div>
    </div>

</div>
