

<div class="page secondary fixed-header">

    <div class="page-header">
        <div class="page-header-content">
            <h1>Matome UI CSS - Tiles</h1>
        </div>
    </div>

    <div class="page-region">
        <div class="page-region-content tiles style="width:6540px">
            <div class="tile-group tile-drag" style="width:500px">
                test
            </div>
            <div class="tile-group tile-drag" style="width: auto; max-width: 500px;">
                <div class="tile double bg-color-green" data-role="tile-slider" data-param-period="3000">
                test
                </div>
            </div>
        </div>
    </div>
</div>
