<!--<div class="page-header">-->
<style>
.smartphone {
	background: #fff;
	width: 240px;
	margin: 40px auto;
	height: 400px;
	border-top:25px solid black;
  border-bottom:25px solid black;
  border-left:8px solid black;
  border-right:8px solid black;
  border-radius:10px;
  position:relative;
}

.smartphone:before {
  content:"";
  display:block;
  position:absolute;
  top:-13px;
  left:50%;
  margin-left:-10px;
  
  background: inherit;
	height: 3px;
	width: 20px;
	border-radius: 4px;
}

.smartphone:after {
  content:"";
  display:block;
  position:absolute;
  bottom:-18px;
  left:50%;
  margin-left:-6px;
	background: inherit;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.kaomoji {
font-size: 30px;
font-weight: bold;
border-radius: 4px;
border: 10px;
margin: 3px;
text-align:center;
}
</style>
<br>
<div class="row">
<div class="col-md-4">
<div class="smartphone">
<br>
<div class="kaomoji">(´・ω・`)</div>
<br>
<p>President: Dummy Ojisan</p>
<br>
<p>Company: Dummy Dummy Donuts</p>
<br>
<p>Tel: xxx-xxxx-xxxx</p>
<br>
<p>Email: dummy-ojisan@example.com</p>
</div>
</div>
<div class="col-md-8">
<h3>Introduce yourself through 'Dummy Ojisan'</h3>
<blockquote>
<h4>First</h4>
<h5>Create your card</h5>
<h4>Second</h4>
<h5>Show that other (frinends, aquaitance etc)</h5>
</blockquote>
<h4>Please read <a href="">Here</a> when you need help</h4>
</div>
</div>
