<html>
<body>
<head>
<meta name="viewport" content="width=width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
</head>
<style>
div#card-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 480px;
  border: 1px solid #000;
  background-color: #F8F8F8;
}

div#card-background {
  text-align: center;
  position: relative;
  #background-image: url('wood-background.jpg');
  border: 1px solid #000;
  background-color: #E8E8E8;
}

div#top-part {
  border: 1px solid #000;
  background-color: #D8D8D8;
}

#image img {
  border: 1px solid #D8D8D8;
  border-radius: 50%;
  box-shadow: 1px 1px 10px 1px;
}
#president span{
  line-height: -13px;
  font-size: 24px;
}

#middle-part {
  background-color: #C8C8C8;
}
</style>
<div id="card-wrapper">
  <div id="card-background">
    <p>BACKGROUND</p>
    <div id="top-part">
      <p>TOPPART</p>
      <div id="image"><%= image_tag "/firms/9/icon", size: "200x200" %></div>
      <div id="president"><span>代表: おじさん</span></div>
      <div id="company"><span>@株式会社ダミーおじさん</span></div>
    </div>
    <div id="middle-part">
      <p>MIDDLEPART</p>
      <p>住所: 東京都千代田区1-2-3-4</p>
      <p>電話番号: 1234-5678-9999</p>
      <p>メール: dummy@example.com</p>
    </div>
  </div>
</div>
</body>
</html>
